:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal : 'Inter';
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
}
.principal{
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botoes {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.container__botao,
.container__botao_secundario {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    text-align: center; 
    margin-bottom: 1em;
    display: block; 
    margin-top: 10px;

}
.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container__aviso{
    text-align: center; 
    font-size: 12px;
    color: var(--cinza-secundario);

}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.container__caixa{
    margin: 0 6em;
}
.conteainer__secundario {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 10em;
}

.container__descricao {
    flex: 1;
    padding: 20px;
}

.secundario__imagem {
    max-width: 80%;
    height: auto;
    margin-right: 20px;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.descricao__texto{
    color: var(--cinza-secundario);
}
.conteainer__terciario {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10em;

}

.container__descricao {
    flex: 1;
    padding: 2em;
}

.secundario__imagem {
    max-width: 100%;
    height: auto;
    margin-left: auto;
}
.container__primario,
.conteainer__secundario,
.conteainer__terciario {
    margin-bottom: 15em; 
}
