:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal : 'Inter';
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
}
.principal{
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botoes {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre os botões */
}

.container__botao,
.container__botao_secundario {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    text-align: center; 

}

.container__botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container__aviso{
    text-align: center; 
    font-size: 12px;
    color: var(--cinza-secundario);

}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}
